.app {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  flex-shrink: 0;
  background-color: #4f46e5; /* Customize the background color */
  color: white; /* Text color */
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-component {
  height: 60px;
  background-color: #f8fafc; /* Header background color */
  border-bottom: 1px solid #e5e7eb;
  z-index: 100;
  position: sticky;
  top: 0;
  padding: 10px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f1f5f9; /* Customize the background color */
  overflow-y: auto;
}
